body {
    padding: 20px;
    margin: 0px;
}

header {
    color: white;
    background-color: blue;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

#main-nav {

    text-decoration: none;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 300px;
}

.main-container {
    padding: 16px;

}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: blue;
    color: white;
}

.image {
    height: 200px;
}

.nav {
    border-bottom: 1px black;
    padding: 16px 16pc 16px 16px;
}

/* was able to find an animated button that i wanted to incorporate */

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 112, 244, 0.4);
    }

    100% {
        box-shadow: 0 0 7px 25px rgba(0, 112, 244, 0);
    }
}

.button {
    text-decoration: none;
    margin: 25% auto 0 auto;
    width: 280px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background: orange;
    border-radius: 100px;
}

.button:hover {
    text-decoration: none;
    margin: 25% auto 0 auto;
    width: 280px;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background: #0070F4;
    border-radius: 100px;
    animation: shadow-pulse 1.5s infinite;
}